@theme './default.rasi'
@import "../colors.rasi"

* {
  font: "Roboto 10";

  bg0    : #1f1f1f80;
  bg1    : #202020bf;
  bg2    : #2c2c2c;
  bg3    : #393939bf;
  fg0    : #ffffff;
  fg1    : #cecece;
  accent : #60cdff;
  urgent : @accent;

  background-color : #000A;
  text-color       : @fg0;

  margin  : 0;
  padding : 0;
  spacing : 0;
}


element-icon, element-text, scrollbar {
  cursor: pointer;
}

window {
    background-color:             #000A;
  location : south;
  width    : 602px;
  height   : 602px;
  y-offset : -4px;
  border:                      2px solid;
  border-radius:               8px;
  border-color:                 @primery;
 }

mainbox {
  padding : 8px;
  spacing : 4px;
}

inputbar {
  padding          : 4px;
  spacing          : 4px;
  children         : [ icon-search, entry ];
}

icon-search, entry, element-icon, element-text {
  vertical-align: 0.5;
}

icon-search {
  expand   : false;
  filename : "search-symbolic";
  size     : 24px;
}

entry {
  font              : "Roboto 10";
  placeholder       : "Type here to search";
  placeholder-color : @fg1;
}

textbox {
  padding          : 2px 2px;
}

listview {
  columns       : 6;
  spacing       : 8px;
  fixed-height  : true;
  fixed-columns : true;
}

element {
  orientation   : vertical;
  spacing       : 4px;
  padding       : 8px;
  border-radius : 2px;
}

element normal urgent {
  text-color: @urgent;
}

element normal active {
  text-color: @accent;
}

element alternate active {
  text-color: @accent;
}

element selected active {
  text-color: @accent;
}

element selected {
  background-color: @bg3;
}

element selected urgent {
  background-color: @urgent;
}

element-icon {
  size: 3em;
}

element-text {
  text-color       : inherit;
  horizontal-align : 0.5;
  
}
