* {
    border: none;
    font-size: 14px;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
    min-height: 25px;
    color: #ffffff;
}

window#waybar {
  background: transparent;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding-left: 5px;
  border: solid black 1px;
  border-radius: 15px 0 0 15px;
  margin-top: 2px;
  background: #000000;
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border: solid black 1px;
  border-radius: 15px 15px 15px 15px;
  background: #000000;
}

.modules-left {
  border: solid black 1px;
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: #000000;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#custom-updates,
#custom-pacman,
#bluetooth,
#pulseaudio,
#custom-hotspot,
#pulseaudio.mic,
#pulseaudio.bluetooth,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#workspaces,
#clock {
  padding: 0 5px;
}

#workspaces button.active {
  color: cyan;
}
#pulseaudio{
  padding-top: 3px;
}

#pulseaudio.muted{
  color: #FF0000;
  padding-top: 2px;
  padding-right: 10px;
}

#backlight-slider,
#pulseaudio-slider {
  padding: 0 5px 0 8px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background-color: transparent;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 50px;
  min-height: 5px;
  border-radius: 8px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
   min-width: 5px;
   min-height: 5px;
   background-color: #FFFFFF;

}


#clock{
  color: #5fd1fa;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
