/*@import "./waybar.css";
  @import "../huegen/themes/waybar.css";
  @import "../huegen/themes/waybar.css";

@import url("./waybar.css");
@define-color active @color0;

*/

@import url("file:///home/ashishk/.config/waybar/colors.css");

* {
  border: none;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
  font-weight: bold;
  box-shadow: none;
}

window#waybar {
  /* background: rgba(26, 27, 38, 0.9);    70% opacity 
  background: rgba(32, 29, 42, 0.3);
  border: 2px solid @active;
 */
  background: rgba(0, 0, 0, 0.5);
}

tooltip {
  background: rgba(32, 29, 42, 0.9);
  border-radius: 0px;
  border: @active 1px solid;
  color: @active;
}

tooltip label {
  color: @active;
}

#custom-logo {
  margin: 0 0 0 0;
  font-size: 20px;
}

.modules-right {
  padding: 2px 10px;
}

.modules-center {
  padding: 2px 10px;
}

.modules-left {
  padding: 2px 10px;
}

#pulseaudio.bluetooth,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#custom-cava,
#custom-cpu-governer,
#group-hardware,
#custom-updates,
#custom-hotspot,
#custom-pacman,
#custom-weather,
#custom-tasks,
#pulseaudio.mic,
#idle_inhibitor,
#temperature,
#custom-logo,
#pulseaudio,
#bluetooth,
#backlight,
#battery,
#network,
#privacy,
#memory,
#window,
#taskbar,
#disk,
#cpu,
#jack,
#tray,
#clock {
  padding: 0px 5px;
  color: @active;
}

#taskbar button {
  margin: 0 5px;
  padding: 0;
  border-radius: 0;
}

#taskbar button.active {
  border-bottom: 2px solid @active;
}

#workspaces button {
  /*  color: #cba6f7; */
  color: #000000;
  background-color: @active;
  padding: 0px 5px;
  margin: 0px 2px;
  font-size: 18px;
  border-radius: 15px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  border-radius: 15px;
  background-color: #cdd6f4;
  min-width: 40px;
  background-size: 400% 400%;
  opacity: 0.9;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.focused {
  color: #000000;
}

#workspaces button.urgent {
  color: #11111b;
  border-radius: 10px;
}

#workspaces button:not(.empty) {
  background-color: #cdd6f4;
  color: #000000;
}

#custom-colorpicker {
  padding: 0 4px 0 10px;
}

#pulseaudio {
  padding-top: 3px;
}

#pulseaudio.mic {
  font-size: 14px;
}

#pulseaudio.mic.muted {
  font-size: 14px;
  color: red;
}

#pulseaudio.muted {
  color: #ff0000;
  padding-top: 2px;
  padding-right: 10px;
}

#backlight-slider,
#pulseaudio-slider {
  padding: 0 5px 0 8px;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background-color: transparent;
  box-shadow: none;
}

#custom-cpu-governer {
  font-size: 14px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 50px;
  min-height: 5px;
  border-radius: 8px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  min-width: 5px;
  min-height: 5px;
  background-color: #ffffff;
}

#custom-launcher {
  background-image: url("/home/ashishk/.config/utility/avatar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#battery.charging {
  color: #77dd77;
}

#battery.warning:not(.charging) {
  background-color: #ffbe61;
  color: black;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
